@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

@media only screen and (max-width: 700px) {
  .field {
    background-image: url(./images/Artboard\ 1vertical.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 640px;
  }
}

@media only screen and (min-width: 701px) {
  .field {
    background-image: url(./images/Artboard\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
  }
}

a, a:visited {
  text-decoration: none !important; /* no underline */
  color: rgb(106, 0, 113) !important;
  font-weight: bold;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(236, 199, 255) !important;
  opacity: 1; /* Firefox */
}

.form-div {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
}

.form-input {
  color: white !important;
  margin: 5px;
  border: none;
  border-radius: 50px !important;
  background-color: #1c0037 !important;
  text-align: center; 
  width: 80%;
}

.form-text-mine {
  font-size: 0.75rem;
  color: rgb(236, 199, 255) !important;
}

.img-logo {
  width: 90%;
  margin-top: 60%;
  margin-bottom: 5%;
}

.is-link {
  margin-top: 15px;
  background-color: #be0ac1 !important;
  border: none !important;
}

.buttons-header{
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  fill: white;
  flex-wrap: wrap;
}

.nav-bar {
  background-color: #600fb1;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white !important;
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.title {
  padding-top: 15px;
}

.white {
  color: white;
}

.padding-bot {
  margin-bottom: 15px;
}

.pink-button {
  background-color: #00ff11 !important;
  filter: invert();
}

.nav-bar-search {
  padding-top: 15px;
  background-color: #510a98;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  accent-color: #1c0037;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

:checked + label {
  font-weight: bold;
}

button, .zoom {
  transition: transform .2s; /* Animation */
}

button:hover {
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
}

.center {
  margin: auto;
  width: 80% !important;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.flex-buttons {
  display: flex;
  margin: 5px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

#margin {
  margin: 2px !important;
}

.icon {
  margin: 5px;
}

.cards-container{
  padding-bottom : 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.card-recipe {
  width: 30%;
  transition: transform .1s; /* Animation */
  background-color: #1c0037;
  text-decoration: none !important;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px !important;
  padding: 5px;
}

.card-recipe > a, .card-recipe > a:visited {
  text-decoration: none !important; /* no underline */
  color: rgb(255, 255, 255) !important;
  font-weight: bold;
}

.card-recipe > p {
  margin: 0px !important;
}

.zoom:hover {
  transform:scale(1.05);
  /* To bring top */
  position: relative;
  z-index: 0;
 }

.img-card-recipe {
  border-radius: 10% !important;
}
